
<i>"... there's this awesome tool that gets overlooked, like people have some
amazing sword in their cupboard and instead hack away at zombies with
spoons."</i> - <b>Nic Ferrier</b>

<p>
The conf will be streamed live from <a href="http://live.forwardtechnology.co.uk/">here</a>
</p>

<p>
<b>Speakers</b>
<br />
9:30 Sacha Chua & John Wiegley - Keynote <br />
10:20 Joakim Verona - XWidgets <br />
11:00 Nic Ferrier - Emacsing the EmacsWiki <br />
12:00 Joe Corneli - project Arxana <br />
<br />
lunch - 12:30-14:00
<br />
<br />
14:00 Sam Aaron - Title: Emacs Live - Hacking as Performance <br />
14:20 Dimitri Fontaine - El-get<br />
15:15 Michael Olson - From Marmalade To Emacs<br />
15:45 John Wiegley - Emacs Lisp Development<br />
16:15 Panel on Emacs Packaging - Marmelade, El-get, MELPA<br />
16:45 Luke Gorrie - SLIME<br />
17:10 Steve Yegge - Project Grok<br />
18:10 lightning talks/surgery<br />
<br />
19:30 Meta_eX - live performance
<br />
<i>Lightning talks</i> (sign up <a href="https://gist.github.com/dotemacs/5084820">here</a>)
</p>
<p>
<b><i>Outro</i></b>
live performance by <a href="http://meta-ex.com/">Meta-eX</a>
<br />
(starts at 19:30)
</p>

<p>
  <b>When:</b> 30th March 2013<br />
  <b>Cost:</b> free, get your ticket <a href="http://emacsconf.eventbrite.co.uk/">here</a><br />
  <b>Location:</b>
    Forward<br />
    Floor2, Centro 3<br />
    19 Mandela Street<br />
    London NW1 0DU<br />
    United Kingdom<br />
  <br />
</p>
