
<i>"... there's this awesome tool that gets overlooked, like people have some
amazing sword in their cupboard and instead hack away at zombies with
spoons."</i> - <b>Nic Ferrier</b>

<p>
<b>Speakers</b>
<br />
Sacha Chua & John Wiegley - Keynote<br />
Joakim Verona - XWidgets<br />
Nic Ferrier - Emacsing the EmacsWiki<br />
Luke Gorrie - SLIME<br />
Joe Corneli - Project Arxana<br />
Dimitri Fontaine - El-Get<br />
Various - Panel on Emacs package managers<br />
Michael Olson - From Marmalade To Emacs<br />
John Wiegley - Emacs Lisp Development<br />
Steve Yegge - Project Grok<br />
</p>

<p>
  <b>When:</b> 30th March 2013<br />
  <b>Cost:</b> free, get your ticket <a href="http://emacsconf.eventbrite.co.uk/">here</a><br />
  <b>Location:</b>
    Forward<br />
    Floor2, Centro 3<br />
    19 Mandela Street<br />
    NW1 0DU London<br />
    United Kingdom<br />

  <br />
</p>
