<pre>
 ____ ____ ____ ____ ____ ____ ____ ____ ____
||E |||M |||A |||C |||S |||C |||O |||N |||F ||
||__|||__|||__|||__|||__|||__|||__|||__|||__||
|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|
</pre>

<h3>Proposals</h3>

<% if user_signed_in? %>
  <%= link_to  "Make a proposal", new_proposal_path %>
<% end %>

<% @proposals.each do |pro| %>
  <ul>
    <li>
      <b>
        <%= link_to pro.subject, proposal_path(pro) %>
      </b>
    </li>
  </ul>
<% end %>
