
<div class="title">
» PROPOSALS «
</div>
<br />

<br />
<% @proposals.each do |pro| %>
  * <%= link_to pro.subject, proposal_path(pro) %>
  <br />
<% end %>

<br />
<% if user_signed_in? %>
  <%= link_to  "Make a proposal", new_proposal_path %>
<% end %>
