<h1>Proposals#index</h1>
<p>Find me in app/views/proposals/index.html.erb</p>

<% if user_signed_in? %>
  <%= link_to  "Make a proposal", new_proposal_path %>
<% end %>

<% @proposals.each do |pro| %>
  <ul>
    <li>
      <b>
        <%= pro.subject %>
      </b>
      <%= pro.body %>
    </li>
  </ul>
<% end %>
