.content {
  width: 400px;
  padding: 10px 0 0 20px; }

.title {
  text-align: center;
  padding-top: 20px; }

.author {
  text-align: center; }

.heading {
  text-align: center;
  padding-bottom: 20px; }

.proposal {
  padding-bottom: 20px; }

.comments {
  padding-top: 20px; }

textarea {
  border-style: dashed; }

input {
  border: 1px dashed; }
